/* [project]/node_modules/.pnpm/katex@0.16.22/node_modules/katex/dist/katex.min.css [app-client] (css) */
/* unparsable [project]/node_modules/.pnpm/katex@0.16.22/node_modules/katex/dist/katex.min.css [app-client] (css) */
